* {
    margin: 0;
    padding: 0;
}

/* p {
    background-color: aquamarine;
} */

#p1 {
    color: red;
}

.p2 {
    color: blue;
    background-color: orange;
    width: 900px;
}

.p3 {
    border: 1px solid black;
    font-size: 65px;
    padding: 10px;
    margin: 100px;
}

.green:hover {
    background-color: green;
    cursor: pointer;
}