h1 {
    color: red;
    background-color: aquamarine;
}

.header0 {
    color: brown;
}

.header1 {
    color: green;
}

.header2 {
    color: blue;
}

.header3 {
    color: violet;
}

.header4 {
    color: aqua;
}